USE [master]
GO
/****** Object:  Database [StockManagement]    Script Date: 08-Sep-2022 4.35.07 PM ******/
CREATE DATABASE [StockManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockManagement', FILENAME = N'C:\Users\PCUSER\StockManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StockManagement_log', FILENAME = N'C:\Users\PCUSER\StockManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockManagement]
GO
USE [StockManagement]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 08-Sep-2022 4.35.07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Image] [varbinary](max) NULL,
	[SKU] [int] NOT NULL,
	[AvailableQuantity] [int] NOT NULL,
	[Date] [datetime] NULL,
	[Price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Name], [Image], [SKU], [AvailableQuantity], [Date], [Price]) VALUES (1, N'Pen', NULL, 100, 94, CAST(N'2022-09-06T16:29:41.650' AS DateTime), CAST(20 AS Decimal(18, 0)))
INSERT [dbo].[Products] ([ProductId], [Name], [Image], [SKU], [AvailableQuantity], [Date], [Price]) VALUES (2, N'Eraser', NULL, 250, 43, CAST(N'2022-09-08T13:07:42.470' AS DateTime), CAST(10 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Products] OFF
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Date]  DEFAULT (getdate()) FOR [Date]
GO
USE [master]
GO
